*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body{
    font-size: 1.6rem;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0 1px 16px rgb(161, 161, 161);
    border-bottom: 1px solid rgb(146, 146, 146);
    a{
        text-decoration: none;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        .img-logo{
            height: 45px;
            width: 45px;
            background-image: url(../img/Logo.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
        .logo-text{
            font-size: 1.9rem;
            text-decoration: none;
            color: rgb(74, 155, 116);
            text-shadow: 0 1px 1px rgb(59, 59, 59);
            font-weight: bold;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            list-style: none;
            padding: 0 10px;
            margin: 0 5px;
            a{
                color: black;
                font-size: 1.4rem;
                transition: color 0.2s;
            }
            a:hover{
                color: rgba(218, 165, 32, 0.606);
            }
        }
    }
    .search{
        padding: 15px;
        cursor: pointer;
        .search-input{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            transform: translateX(150%);
            right: 10px;
            margin-top: 21px;
            transition: transform 0.4s;
            input[type='search']{
                padding: 5px;
                border: 2px solid rgb(82, 179, 87);
                border-right: none;
                outline: none;
                border-radius: 9px 0 0 9px;
            }
            .ok-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                padding:6px;
                border: 2px solid rgb(82, 179, 87);
                color: white;
                text-shadow: 1px 1px 3px black;
                background: linear-gradient(169deg, rgb(130, 196, 105) 11%, rgb(0, 0, 0) 120%);
                border-radius: 0 9px 9px 0;
                border-left: none;
                cursor: pointer;

            }
        }
        .search-input-transform{
            transform: translateX(0);
        }
    }
}
