*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body{
    font-size: 1.6rem;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(146, 146, 146);
    border-bottom: 1px solid rgb(117, 117, 117);
    a{
        text-decoration: none;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        .img-logo{
            height: 45px;
            width: 45px;
            background-image: url(../img/Logo.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
        .logo-text{
            font-size: 1.9rem;
            text-decoration: none;
            color: rgb(74, 155, 116);
            text-shadow: 0 1px 1px rgb(59, 59, 59);
            font-weight: bold;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            list-style: none;
            padding: 0 10px;
            margin: 0 5px;
            a{
                color: black;
                font-size: 1.4rem;
                transition: color 0.2s;
            }
            a:hover{
                color: rgba(218, 165, 32, 0.606);
            }
        }
    }
    .search{
        padding: 15px;
        cursor: pointer;
        .search-input{
            position: absolute;
            right: 100px;
        }
    }
}
